# This dotenv file will generally not function with shell source or . command if any value contains ``

# Docker Environment
DOCKER_HOST_UID=1000
DOCKER_HOST_GID=1000

# Python/PIP
PIP_INDEX_URL=%PIP_INDEX_URL%

# Alliance Auth
AA_DEBUG=%AA_DEBUG%
AA_SECRET_KEY=%AA_SECRET_KEY%
AA_SITE_NAME=%AA_SITE_NAME%
AA_SITE_URL=%AA_SITE_URL%

# Alliance Auth DB
AA_DB_HOST=%AA_DB_HOST%
AA_DB_NAME=%AA_DB_NAME%
AA_DB_USER=%AA_DB_USER%
AA_DB_PASSWORD=%AA_DB_PASSWORD%
AA_DB_ROOT_PASSWORD=%AA_DB_ROOT_PASSWORD%
AA_DB_CHARSET=%AA_DB_CHARSET%

# Alliance Auth Email
AA_EMAIL_HOST=%AA_EMAIL_HOST%
AA_EMAIL_PORT=%AA_EMAIL_PORT%
AA_EMAIL_USER=%AA_EMAIL_USER%
AA_EMAIL_PASSWORD=%AA_EMAIL_PASSWORD%
AA_EMAIL_USE_TLS=%AA_EMAIL_USE_TLS%
AA_EMAIL_DEFAULT_FROM=%AA_EMAIL_DEFAULT_FROM%

# Alliance Auth ESI SSO
ESI_SSO_CLIENT_ID=%ESI_SSO_CLIENT_ID%
ESI_SSO_CLIENT_SECRET=%ESI_SSO_CLIENT_SECRET%
ESI_USER_CONTACT_EMAIL=%ESI_USER_CONTACT_EMAIL%
