CREATE USER %AA_DB_USER% IDENTIFIED BY %AA_DB_PASSWORD%;
CREATE DATABASE %AA_DB_NAME% CHARACTER SET %AA_DB_CHARSET%;
GRANT USAGE ON *.* TO %AA_DB_USER%;
GRANT ALL PRIVILEGES ON %AA_DB_NAME%.* TO %AA_DB_USER%;